.page {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 360px;
  background: #fff;
  border-radius: 14px;
  padding: 20px;
}

.timer {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
}

.priceRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.price {
  font-size: 28px;
  font-weight: 700;
  color: #000;
}

.copyIconBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.copiedText {
  font-size: 12px;
  color: green;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.section {
  margin-bottom: 20px;
}

.sectionTitle {
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
}

.qrTitle {
  margin-bottom: 10px;
  color: #000;
  
}

.qr {
  width: 250px;      /* smaller size */
  height: 250px;
  object-fit: contain;
  margin-top: 10px;


}

.payRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  margin-bottom: 8px;
}

.payBtn {
  padding: 4px 10px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}
.utrWrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center; /* centers label + input */
}

.utrLabel {
  font-size: 12px;
  color: #666;
  margin-bottom: 6px;
  align-self: flex-start;
  width: 320px;
}

.utrInput {
  width: 320px;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.utrInput::placeholder {
  color: #aaa;
}

.utrInput:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
}
